@model BookTicketFormModel

@{
    ViewData["Title"] = "Book Ticket";
}

<environment include="Development">
    <link rel="stylesheet" href="~/css/book-ticket.css" />
</environment>

<h2 class="text-center">@ViewData["Title"]</h2>

<a class="btn btn-primary" href="/routes/search?StartTown=@Model.StartTownId&EndTown=@Model.EndTownId&Date=@Model.DepartureDateTime.ToFormatedDate()">Back</a>

<p>
    @Model.StartStation - @Model.EndStation @Model.Duration, @Model.CompanyName, @Model.DepartureDateTime
</p>

@Html.Partial("_BookTicketForm", Model)

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


