@model SearchedRoutes

@{
    ViewData["Title"] = "Search Routes";
}

<environment include="Development">
    <link rel="stylesheet" href="~/css/list-routes.css" />
    <link rel="stylesheet" href="~/css/horizontal-search-form.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
</environment>

<h2 class="text-center">@ViewData["Title"]</h2>

<div class="container-fluid">
    <div class="row search-container">
        @Html.Partial("_SearchRoutesWithCompaniesForm", Model.SearchForm)
    </div>
</div>
<hr />

@if (Model.Routes.Count() == 0)
{
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Oooops!</h4>
        <p>We couldn't find any routes matching your criteria!</p>
        <hr>
        <p class="mb-0">Just have another try or contact us so we can help you immediately!</p>
    </div>
}
else
{
    <div class="container-fluid ticket-list">
        @foreach (var route in Model.Routes)
        {
            <div class="route-container row">
                <div class="col-md-2 col-sm-2 col-lg-2">
                    <a class="company-name" asp-controller="Companies" asp-action="Details" asp-route-id="@route.CompanyId">@route.CompanyName</a>
                    <a asp-controller="Companies" asp-action="Details" asp-route-id="@route.CompanyId">
                        @if (route.CompanyLogo == null)
                        {
                            <img class="img-responsive" src="~/images/common/no-logo.png"   alt="@route.CompanyName" />
                        }
                        else
                        {
                            <img class="img-responsive" src="@route.CompanyLogo.ConvertBytesToImage()"              alt="@route.CompanyName" />
                        }
                    </a>
                </div>
                <div class="col-md-2 col-sm-2 col-lg-2">
                    <span class="departure-time">@route.DepartureTime.ToHoursAndMinutes()</span>
                </div>
                <div class="stations col-md-4 col-sm-4 col-lg-4 text-center">
                    <span>@route.StartStation > @route.EndStation</span>
                    <span>
                        (@route.Duration.Hours Hours @(route.Duration.Minutes == 0 ? string.Empty : $"{route.Duration.Minutes} Minutes"))
                    </span>
                </div>
                <div class="price col-md-2 col-sm-2 col-lg-2">
                    <span>@route.Price.ToFormatedPrice() $</span>
                </div>
                <div class="tickets col-md-2 col-sm-2 col-lg-2">
                    <form method="get" asp-controller="Routes" asp-action="BookTicket" asp-route-id="@route.Id" asp-route-departureTime ="@route.DepartureTime.ToHoursAndMinutes()" asp-route-date="@Context.Request.Query["Date"]">
                        <input class="btn btn-success" type="submit" value="Tickets" />
                    </form>
                </div>
            </div>
            <hr />
        }
    </div>

    <div class="container-fluid text-center">
        <ul class="pagination">
            <li class="page-item @(1 == Model.Pagination.CurrentPage ? "blocked":string.Empty)">
                <a class="page-link" asp-controller="Routes" asp-action="Search" asp-route-page="@Model.Pagination.PreviousPage" onclick="sendSearchFormOnPageChange()">Previous</a>
            </li>
            @for (int i = 1; i <= Model.Pagination.TotalPages; i++)
            {
                <li class="page-item @(i == Model.Pagination.CurrentPage ? "active blocked":string.Empty)">
                    <a class="page-link" asp-controller="Routes" asp-action="Search" asp-route-page="@i" onclick="sendSearchFormOnPageChange()">@i</a>
                </li>
            }
            <li class="page-item @(Model.Pagination.TotalPages == Model.Pagination.CurrentPage ? "blocked":string.Empty)">
                <a class="page-link" asp-controller="Routes" asp-action="Search" asp-route-page="@Model.Pagination.NextPage" onclick="sendSearchFormOnPageChange()">Next</a>
            </li>
        </ul>
    </div>
}

@section Scripts {
    <script type="text/javascript" src="~/js/route/search-form-validation.js"></script>
    <script>
        function sendSearchFormOnPageChange() {
            alert('clicked');
            $('form.search-form input[type=submit]').click();
        }
    </script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

