@model AllTowns

@{
    ViewData["Title"] = "All Towns";
}

<environment include="Development">
    <link rel="stylesheet" href="~/css/towns/towns-listing.css" />
</environment>

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />
<div class="container-fluid">
    <form class="row">
        <div class="form-group col-md-6">
            <input for="searchTerm" name="searchTerm" class="form-control" placeholder="Search towns..." />
        </div>
        <input type="submit" value="Search" class="btn btn-success" />
    </form>
</div>
<hr />

@if(Model.Towns.Count() == 0)
{
    <h3 class="text-center">No towns!</h3>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Domestic Companies</th>
                <th>Total Stations</th>
                <th>Stations</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var t in Model.Towns)
            {
                <tr>
                    <td>@t.Name</td>
                    <td>@t.DomesticCompanies</td>
                    <td>@t.Stations</td>
                    <td>
                        <a href="/admin/towns/stations/@t.Id" class="btn btn-primary show-stations">
                            Show Stations
                        </a>
                    </td>
                    <td class="townId hidden">@t.Id</td>
                </tr>
                <tr class="all-stations">
                    <td colspan="4">
                        <ul class="stations-list"></ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @Html.Partial("_Pagination",Model.Pagination)
}

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>
   <script src="~/js/town/town-stations.js"></script>
}

