@model RouteFormModel

@{
    ViewData["Title"] = "_RouteForm";
}

<form method="post" class="col-md-6 col-md-offset-3">
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="StartStation"></label>
        <select asp-for="StartStation" asp-items="@Model.TownsStations" class="form-control @(Model.IsEdit ? "disabled" : string.Empty)"></select>
        <span asp-validation-for="StartStation" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EndStation"></label>
        <select asp-for="EndStation" asp-items="@Model.TownsStations" class="form-control @(Model.IsEdit ? "disabled" : string.Empty)"></select>
        <span asp-validation-for="EndStation" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DepartureTime"></label>
        <input asp-for="DepartureTime" class="form-control" />
        <span asp-validation-for="DepartureTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Duration"></label>
        <input asp-for="Duration" class="form-control" />
        <span asp-validation-for="Duration" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BusType"></label>
        <select asp-for="BusType" class="form-control">
            @foreach (var busType in Enum.GetValues(typeof(BusType)))
            {
                <option value="@((int)Enum.Parse(typeof(BusType),busType.ToString()))">@busType.ToString() - @((int)Enum.Parse(typeof(BusType), busType.ToString())) seats</option>
            }
        </select>
        <span asp-validation-for="BusType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" min="0.00" step="0.01" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <input type="submit" class="btn btn-success" value="Save Route" />
    <a asp-controller="Routes" asp-action="All" class="btn btn-danger">Cancel</a>
</form>

